* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
  --shadow-code : 1px 1px 2px rgba(0,0,0,.02) , -1px -1px 2px rgba(0,0,0,.02);
}

::placeholder 
{
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-grey);
  opacity: 1;
  text-transform: initial;
 /* Firefox */
}

:-ms-input-placeholder 
{
 /* Internet Explorer 10-11 */
  color: var(--light-grey);
}

::-ms-input-placeholder 
{
 /* Microsoft Edge */
  color: var(--light-grey);
}

  
::-webkit-scrollbar {
    height: 5px;
  }
    
::-webkit-scrollbar-track {
    background: transparent;
  }
::-webkit-scrollbar-thumb {
    background: #dbd9d9;
    border-radius: 20px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #dbd9d9;
  }
  
.positive
{
  color: var(--main-green);
}

.negative
{
  color: var(--main-red);
}



.app 
{
  width: 100%;
  height: 100vh;
  font-weight: 500;
  background-color: var(--light-white);
  overflow: hidden;
  position: relative;
}

.app p 
{
  margin: 0!important;
}

/*app header*/
.app__header 
{
  width: 100%;
  height: 7vh;
  background-color: var(--white);
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__header.app__header__zoom 
{
  height: 0;
  display: none;
}

.app__header .brand__logo
{
  width: 40px;
  height: 40px;
  background-color: #19E683;
}

.app__header .brand__logo img 
{
  width: 40px;
  height: 40px;
}

.app__header .brand__name p 
{
  font-size: 18px!important;
  font-weight: 700;
  font-size: 30px;
  margin: 0 30px 0 10px!important;
  color: var(--font-primary);
}

.app__header .stock__search 
{
  width: 560px;
  height: 70%;
 /* border: 1px solid #cccccc;
  */
  border-radius: 6px;
  box-shadow: -2px 2px 2px var(--shadow-primary), 1px 0px 2px var(--shadow-primary);
  display: flex;
 /* justify-content: center;
  */
  align-items: center;
  position: relative;
}

.app__header .stock__search .stock__search__icon 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px 0 15px;
}

.app__header .stock__search .stock__search__icon img 
{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* .MuiInput-underline:after
{
  border-color: var(--main-blue)!important;
}

.MuiFormLabel-root.Mui-focused
{
  color: var(--main-blue)!important;
  font-family: 'Open Sans', sans-serif!important;
} */

.app__header .stock__search input 
{
  border: none;
  outline: none;
  width: 100%;
  height: 90%;
  padding-left: 2px;
  color: var(--font-primary);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.4px!important;
  text-transform: uppercase!important;
}

.app__header .stock__search .stock__suggestions
{
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  top: 100%;
  left: 0%;
  margin-top: 3px;
  z-index: 100;
  border-radius: 5px;
  max-height: 300px;
  overflow-y : scroll;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.app__header .stock__search .stock__suggestions p
{
  padding: 8px 10px 8px 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
}

.app__header .stock__search .stock__suggestions p span:nth-child(1)
{
  flex : 2;
}
.app__header .stock__search .stock__suggestions p span:nth-child(2)
{
  flex : 7;
}
.app__header .stock__search .stock__suggestions p span:nth-child(3)
{
  flex : 1;
}

.app__header .stock__search .stock__suggestions p:hover
{
  background-color: var(--light-grey);
}

.app__header .app__menu 
{
  display: flex;
  margin-left: 20px;
}

.app__header .app__menu span 
{
  font-size: 12px;
  margin: 0 6px;
  letter-spacing: -0.2px;
  font-weight: 900;
  color: var(--font-primary);
  cursor: pointer;
}

/*app body*/
.app__body 
{
  overflow: hidden;
  padding: 0 19%;
  height: 90vh;
}

.app__body__top 
{
  width: 100%;
  height: 8%;
}

.app__body__top .top__stocks 
{
  width: 100%;
  height: 100%;
  display: flex;
}

.app__body__top .top__stocks .upper__stock 
{
  flex: 1;
  font-size: 11px;
  padding: 2px 5px 5px 0px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app__body__top .top__stocks .upper__stock .upper__stock__info 
{
  width: 40%;
}

.app__body__top .top__stocks .upper__stock .upper__stock__name 
{
  color: var(--font-primary) 
}

.app__body__top .top__stocks .upper__stock .upper__stock__value 
{
  font-weight: 600;
  margin-top: 4px;
}

.app__body__top .top__stocks .upper__stock .upper__stock__change 
{
  font-size: 10px;
  font-weight: 600;
  margin-top: 2px;
}

.app__body__top .top__stocks .upper__stock .upper__stock__change div .price__digit 
{
   height: 10px;
   margin: 0 0px;
   overflow: hidden;
}

.app__body__top .top__stocks .upper__stock .upper__stock__change div .digit__box
{
 height: 10px;
 font-size: 11px;
}

.app__body__top .top__stocks .upper__stock .upper__stock__chart 
{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: #000000; */
}

.app__body__top__zoom 
{
  height: 0;
  display: none;
}

.app__body__bottom 
{
  width: 100%;
  height: 92%;
  background-color: var(--light-white);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.app__body__bottom__zoom 
{
  height: 100vh;
}

.app__body.app__body__zoom 
{
  height: 100vh;
  padding: 0px;
}


.app__body .app__body__left 
{
  width: 69%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app__body .app__body__left.app__body__left__zoom 
{
  width: 80%;
  height: 100%;
}

.app__body .app__body__left .Indicator__popup,.app__body .app__body__left .Interactive__popup 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 1px #cccccc;
  z-index: 1000;
  width: 65%;
  height: 70%;
  border-radius: 5px;
  overflow-x: hidden;
  display: none;
}

.app__body .app__body__left .Indicator__popup.active, .app__body .app__body__left .Compare__popup.active, .app__body .app__body__left .Interactive__popup.active 
{
  display: block;
}

.app__body .app__body__left .Indicator__popup .Indicator__title__name, .app__body .app__body__left .Compare__popup .Compare__title__name, .app__body .app__body__left .Interactive__popup .Interactive__title__name 
{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-bottom: 0.5px solid #eeeeee;
}

.app__body .app__body__left .Indicator__popup .Indicator__title__name #Indicator__close, .app__body .app__body__left .Compare__popup .Compare__title__name #Compare__close, .app__body .app__body__left .Interactive__popup .Interactive__title__name #Interactive__close 
{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}

.app__body .app__body__left .Indicator__popup .Indicator__title__name #Indicator__close:hover, .app__body .app__body__left .Compare__popup .Compare__title__name #Compare__close:hover, .app__body .app__body__left .Interactive__popup .Interactive__title__name #Interactive__close:hover 
{
  background-color: #f5f5f5;
}

.app__body .app__body__left .Indicator__popup .Indicator__options, .app__body .app__body__left .Interactive__popup .Interactive__options 
{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  position: relative;
}

.app__body .app__body__left .Indicator__popup .Indicator__options::-webkit-scrollbar , .app__body .app__body__left .Interactive__popup .Interactive__options::-webkit-scrollbar, .app__body .business__news__section .business__news__wrapper .business__news__box::-webkit-scrollbar, .credit__ratings::-webkit-scrollbar, .business__chart::-webkit-scrollbar 
{
  width: 5px;
}

.app__body .app__body__left .Indicator__popup .Indicator__options::-webkit-scrollbar-track, .app__body .app__body__left .Interactive__popup .Interactive__options::-webkit-scrollbar-track, .app__body .business__news__section .business__news__wrapper .business__news__box::-webkit-scrollbar-track, .credit__ratings::-webkit-scrollbar-track, .business__chart::-webkit-scrollbar-track 
{
  display: none;
}

.app__body .app__body__left .Indicator__popup .Indicator__options::-webkit-scrollbar-thumb, .app__body .app__body__left .Interactive__popup .Interactive__options::-webkit-scrollbar-thumb, .app__body .business__news__section .business__news__wrapper .business__news__box::-webkit-scrollbar-thumb, .credit__ratings::-webkit-scrollbar-track, .business__chart::-webkit-scrollbar-track 
{
  background: #e8e8e8;
  border-radius: 10px;
}

.app__body .app__body__left .Indicator__popup .Indicator__options::-webkit-scrollbar-thumb:hover, .app__body .app__body__left .Interactive__popup .Interactive__options::-webkit-scrollbar-thumb:hover, .app__body .business__news__section .business__news__wrapper .business__news__box::-webkit-scrollbar-thumb:hover, .credit__ratings::-webkit-scrollbar-track, .business__chart::-webkit-scrollbar-track 
{
  cursor: pointer;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block 
{
  width: 100%;
  padding: 10px 30px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block:hover 
{
  background-color: #f5f5f5;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block p 
{
  font-size: 16px;
  font-weight: 600;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div 
{
  display: flex;
  align-items: center;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div button 
{
  border: none;
  outline: none;
  background-color: #eeeeee;
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  margin-right: 20px;
  border-radius: 2px;
  width: 130px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div span 
{
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div span:hover 
{
  font-weight: 700;
  background-color: #5acdff;
  color: #ffffff;
}

.app__body .app__body__left .Indicator__popup .Indicator__info 
{
  position: absolute;
 /* background-color: #00a0e3;
  */
  background-color: #fbfbfb;
  box-shadow: -2px 0 4px #cccccc;
  top: 15%;
  right: 0;
  width: 80%;
  height: 85%;
  text-align: center;
  transform: translateX(100%);
  transition: .3s;
  z-index: 1999;
}

.app__body .app__body__left .Indicator__popup .Indicator__info.active 
{
  transform: translateX(0%);
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name 
{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0.5px solid #eeeeee;
  position: relative;
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name span#Indicator__Info__close 
{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffff5;
  cursor: pointer;
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data 
{
  padding: 10px 30px;
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div 
{
  margin-bottom: 20px;
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__title 
{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__value 
{
  font-size: 14px;
  font-weight: 500;
}

.app__body .app__body__left .Compare__popup 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 1px #cccccc;
  z-index: 1000;
  width: 35%;
  height: 80%;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.app__body .app__body__left .Compare__popup .Compare__stock__search 
{
  width: 100%;
  height: 8%;
  border-bottom: 0.5px solid #eeeeee;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.app__body .app__body__left .Compare__popup .Compare__stock__search .Compare__stock__search__icon 
{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__body .app__body__left .Compare__popup .Compare__stock__search .Compare__stock__search__input 
{
  flex: 9;
  height: 100%;
  display: flex;
  align-items: center;
}

.app__body .app__body__left .Compare__popup .Compare__stock__search .Compare__stock__search__icon img 
{
  width: 20px;
  height: 20px;
}

.app__body .app__body__left .Compare__popup .Compare__stock__search .Compare__stock__search__input input 
{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #404040;
  font-weight: 700;
}

.app__body .app__body__left .Compare__popup .Compare__options 
{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  position: relative;
}

.app__body .app__body__left .Compare__popup .Compare__options .Compare__stock__block 
{
  width: 100%;
  padding: 10px 20px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0.5px solid #eeeeee;
}

.app__body .app__body__left .Compare__popup .Compare__options .Compare__stock__block:hover 
{
  background-color: #f5f5f5;
}

.app__body .app__body__left .Compare__popup .Compare__options .Compare__stock__block p 
{
  font-size: 16px;
  font-weight: 600;
}

.app__body .app__body__left .Compare__popup .Compare__options .Compare__stock__block>div 
{
  display: flex;
  align-items: center;
}

.app__body .app__body__left .Compare__popup .Compare__options .Compare__stock__block>div button 
{
  border: none;
  outline: none;
  background-color: #eeeeee;
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  margin-right: 20px;
  border-radius: 2px;
  width: 130px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.app__body .app__body__left .Compare__popup .Compare__options::-webkit-scrollbar 
{
  width: 5px;
}

.app__body .app__body__left .Compare__popup .Compare__options::-webkit-scrollbar-track 
{
  display: none;
}

.app__body .app__body__left .Compare__popup .Compare__options::-webkit-scrollbar-thumb 
{
  background: #e8e8e8;
  border-radius: 10px;
}

.app__body .app__body__left .Compare__popup .Compare__options::-webkit-scrollbar-thumb:hover 
{
  cursor: pointer;
}

.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block 
{
  width: 100%;
}

.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block>p 
{
  padding: 10px 30px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: 700;
}

.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block .Interactive__tool 
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding : 10px 0 10px 50px;
  cursor: pointer;
}

.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block .Interactive__tool:hover 
{
  background-color: #eeeeee;
}

.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block>div img 
{
  width: 25px;
  margin-right: 10px;
}

/* .app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block>div p 
{
  padding: 6px 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

*/
.app__body .app__body__left .Interactive__popup .Interactive__options .Interactive__option__block>div>p:hover 
{
  background-color: #eeeeee;
}

.app__body .app__body__left .chart__container 
{
  width: 100%;
  height: 60%;
  border-radius: 3px;
  position: relative;
  background-color: var(--white);
  box-shadow: var(--shadow-code);
  display: flex;
  flex-direction: column;
}

.app__body .app__body__left .chart__container.chart__container__zoom 
{
  height: 85%;
  border-radius: 0px;
  border-top: none;
}

.app__body .app__body__left .chart__container .chart__container__stock__options 
{
  flex-direction: column;
  width: 100%;
  height: 8%;
  display: none;
  flex : 1;
}

.app__body .app__body__left .chart__container .chart__container__stock__options.active
{
  display: flex;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options 
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  z-index: 100;
  display: flex;
  align-items: center;
}


.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block 
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  height: 100%;
  padding: 0px 15px;
  border: 1px solid #eeeeee;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block span 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block img 
{
  width: 28px;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block span#chart__type__icon 
{
  width: 18px;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__stock__name 
{
  padding: 0 30px;
  font-size: 16px;
  cursor: default;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types 
{
  background-color: #ffffff;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0%;
  margin-top: 3px;
  z-index: 100;
  border-radius: 5px;
  padding: 5px 0;
  box-shadow: 2px 2px 10px #c8c8c8;
  transition: .2s;
  display: none;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types.active 
{
  display: block;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div 
{
  display: flex;
  align-items: center;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  font-weight: 600;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div.active 
{
  background-color: #eeeeee;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div:hover 
{
  background-color: #eeeeee;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div span 
{
  margin-left: 10px;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div img 
{
  width: 20px;
}

.app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block #chart__type__icon 
{
  height: 18px;
}

.app__body .app__body__left .chart__container .stock__info__chart
{
  position: relative;
  height: 93%;
}

.app__body .app__body__left .chart__container .stock__info 
{
 
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  padding-left: 20px;
  padding-top: 15px;
  display: inline-block;
}

.app__body .app__body__left .chart__container .stock__info .stock__details 
{
  display: flex;
}

.app__body .app__body__left .chart__container .stock__info .stock__details p 
{
  font-size: 14px;
  font-weight: 700;
  color: var(--font-primary);
}

.app__body .app__body__left .chart__container .stock__info .stock__details .stock__type 
{
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.app__body .app__body__left .chart__container .stock__info .stock__details .stock__type img 
{
  width: 14px;
  margin-right: 4px;
}

.app__body .app__body__left .chart__container .stock__info .stock__details .stock__type p 
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.app__body .app__body__left .chart__container .stock__info #stock__full__name 
{
  font-size: 10px;
  color: var(--font-secondary);
  font-weight: 600;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__purchase 
{
  display: flex;
  align-items: center;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details 
{
  display: flex;
  align-items: center;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details p 
{
  font-size: 16px;
  font-weight: 700;
  margin-right: 2px;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details .price__decimals 
{
  color: var(--font-primary);
  font-size: 30px;
  font-weight: 900;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details .price__fraction 
{
  color: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  align-self: flex-start;
  margin-left: 2px;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details span.stock__performance 
{
  font-size: 12px;
  color: #00a0e3;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details p span.clock 
{
  margin: 0 3px;
  font-size: 12px;
}

.app__body .app__body__left .chart__container .stock__info .stock__price__details 
{
 /* margin: 0 3px;
  */
  font-size: 12px;
  font-weight: 700;
}

.app__body .app__body__left .chart__container .stock__info .stock__purchase 
{
  display: flex;
  margin-left: 30px;
}

.app__body .app__body__left .chart__container .stock__info .stock__purchase>div 
{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a0e3;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.app__body .app__body__left .chart__container .stock__info .stock__purchase>div img 
{
  width: 10px;
  height: 10px;
}

.app__body .app__body__left .chart__container .stock__info .stock__purchase>div.sell__stock 
{
  background-color: var(--main-red);
}

.app__body .app__body__left .chart__container .stock__info .stock__price__change 
{
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin-top: 0;
  color: var(--font-primary);
}

.app__body .app__body__left .chart__container .stock__info .stock__price__change div 
{
  margin-left: 2px;
}


.app__body .app__body__left .chart__container .stock__chart 
{
  width: 100%;
  height: 100%;
}

.app__body .app__body__left .chart__container .stock__chart g 
{
  fill : '#00a0e3';
}

.app__body .app__body__left .chart__container .chart__range 
{
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.app__body .app__body__left .chart__container .chart__range .chart__range__value 
{
  font-size: 11px;
  margin: 0 2px;
  color: var(--font-secondary);
  font-weight: 700;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
}

.app__body .app__body__left .chart__container .chart__range .active__range 
{
  color: var(--white);
  background-color: var(--main-blue);
}

.app__body .app__body__left .chart__container .chart__zoom 
{
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.app__body .app__body__left .chart__container .chart__zoom img 
{
  width: 18px;
}

.app__body .app__body__left .key__statistics 
{
  width: 100%;
  height: 25%;
 /* border: 1px solid #eeeeee;
  */
  background-color: var(--white);
  box-shadow: var(--shadow-code);
  border-radius: 3;
  padding: 5px 20px 5px 20px;
  position: relative;
}

.app__body .app__body__left .key__statistics.key__statistics__zoom 
{
  height: 15%;
  border-radius: 0px;
}

.app__body .app__body__left .key__statistics .ks__title 
{
  color: var(--font-primary);
  font-size: 14px!important;
  font-weight: 900;
}

.app__body .app__body__left .key__statistics .ks__container 
{
  width: 100%;
  height: 90%;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__half, .app__body .app__body__left .key__statistics .ks__container .ks__container__full 
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__full 
{
  display: none;
}

.app__body .app__body__left .key__statistics .ks__container .ks__slot 
{
  display: flex;
  flex-direction: column;
 /* justify-content: space-around;
  */
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics 
{
  margin: auto 0;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__name 
{
  font-size: 11px;
  color: var(--font-primary);
  font-weight: 700;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__value 
{
  font-size: 11px;
  color: var(--font-secondary);
  font-weight: 600;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__value .range__line
{
  position: relative;
  width: 30px;
  height: 2px;
  background-color: var(--main-blue);
  margin: 0 8px;
}

.ks__value .range__line::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 8px;
  height: 8px;
  transform: translate(-50%,-50%);
  background-color: var(--main-blue);
  border-radius: 50%;
}

.ks__value .range__line::after
{
  content: '';
  position: absolute;
  top: 50%;
  right: 0%;
  width: 8px;
  height: 8px;
  transform: translate(50%,-50%);
  background-color: var(--main-blue);
  border-radius: 50%;
}


.app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__name 
{
  font-size: 12px;
  color: #404040;
  font-weight: 600;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__value 
{
  font-size: 10px;
  color: #404040;
  font-weight: 500;
}

.app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics 
{
  margin: 3px 0;
}

.app__body .app__body__right 
{
  width: 30%;
  height: 98%;
}

.app__body .app__body__right.app__body__right__zoom 
{
  width: 20%;
}

/*app__footer*/
.app__footer 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
  background-color: var(--light-white);
}

.app__footer.app__footer__zoom 
{
  height: 0;
  display: none;
}

.app__footer span 
{
  font-size: 12px;
  color: var(--font-primary);
  margin: 0 8px;
  font-weight: 900;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.app__footer .app__logout 
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
  cursor: pointer;
}

.app__footer .app__logout img 
{
  width: 22px;
  transform: rotate(180deg);
  margin-right: 4px;
}

.app__footer .app__logout p 
{
  font-weight: 700;
  font-size: 14px;
  color: var(--font-primary);
}

.bound__labels 
{
  padding: 4px 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.price__bounds__outer 
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height : 300px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.price__bounds__inner 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.PriceUpAndLowBounds 
{
  position: relative;
  width: 10px;
  background-color: #ffffff;
}

.PriceUpAndLowBounds .pul__inner 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00a0e3;
  border-radius: 10px;
  animation: create .5s linear forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.label__up 
{
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.label__down 
{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes create
{
  0% 
  {
      height : 0;
 }

  100% 
  {
      height : 100%;
 }

}



@media only screen and (max-width: 800px) 
{
  .app 
  {
      width: 100%;
      height: auto;
      overflow: scroll;
 }

 /*app header*/
  .app__header 
  {
      padding: 0 20px;
 }

  .app__header.app__header__zoom 
  {
      height: 0;
      display: none;
 }

  .app__header .brand__logo img 
  {
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-left: 20px;
 }

  .app__header .brand__name p 
  {
      font-size: 30px;
      margin: 0 30px 0 30px;
 }

  .app__header .stock__search 
  {
      width: 400px;
      height: 75%;
      /* box-shadow: ; */
 }

  .app__header .stock__search .stock__search__icon img 
  {
      width: 25px;
      height: 25px;
 }

  .app__header .stock__search input 
  {
      font-size: 16px;
 }

  .app__header .app__menu 
  {
      display: none;
      margin-left: 20px;
 }

  .app__header .app__menu span 
  {
      font-size: 14px;
      margin: 0 10px;
      font-weight: 700;
      color: #404040;
      cursor: pointer;
 }

 /*app body*/
  .app__body 
  {
      padding: 0 20px;
 }

  .app__body.app__body__zoom 
  {
      height: 100vh;
      padding: 0px;
 }

  .app__body .app__body__left 
  {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
 }

  .app__body .app__body__left.app__body__left__zoom 
  {
      width: 100%;
 }

  .app__body .app__body__left .Indicator__popup 
  {
      width: 70%;
      height: 60%;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__title__name 
  {
      padding: 0 30px 0 30px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__title__name #Indicator__close 
  {
      width: 25px;
      height: 25px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block 
  {
      padding: 10px 20px 10px 30px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block p 
  {
      font-size: 14px;
      font-weight: 600;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div button 
  {
      margin-right: 20px;
      width: 130px;
      height: 30px;
      font-size: 14px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name 
  {
      font-size: 16px;
      font-weight: 700;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name span#Indicator__Info__close 
  {
      width: 25px;
      height: 25px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__title 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__value 
  {
      font-size: 12px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options 
  {
      height: 40px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block 
  {
      padding: 0px 15px;
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block img 
  {
      width: 28px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block span#chart__type__icon 
  {
      width: 18px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__stock__name 
  {
      padding: 0 50px;
      font-size: 16px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types 
  {
      width: 200px;
      padding: 5px 0;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div 
  {
      padding: 5px 0 5px 10px;
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div span 
  {
      margin-left: 10px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div img 
  {
      width: 20px;
 }

  .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block #chart__type__icon 
  {
      height: 18px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__details 
  {
      display: flex;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__details p 
  {
      font-size: 12px;
      font-weight: 700;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__price__details p span 
  {
      font-size: 30px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.price__decimals 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.stock__performance 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.clock 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__price__details 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .stock__info .stock__purchase>div 
  {
      font-size: 14px;
 }

  .app__body .app__body__left .chart__container .stock__chart 
  {
      height: 93%;
      width: 100%;
 }

  .app__body .app__body__left .chart__container .chart__range .chart__range__value 
  {
      font-size: 12px;
 }

  .app__body .app__body__left .chart__container .chart__zoom 
  {
      position: absolute;
      right: 2%;
      bottom: 2%;
      z-index: 100;
 }

  .app__body .app__body__left .key__statistics 
  {
      width: 100%;
      height: 38%;
      padding: 10px 5px 5px 30px;
 }

  .app__body .app__body__left .key__statistics.key__statistics__zoom 
  {
      height: 15%;
      border-radius: 0px;
 }

  .app__body .app__body__left .key__statistics .ks__container 
  {
      width: 100%;
      height: 90%;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__name 
  {
      font-size: 14px;
      color: #404040;
      font-weight: 600;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__value 
  {
      font-size: 12px;
      color: #404040;
      font-weight: 500;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__name 
  {
      font-size: 12px;
      color: #404040;
      font-weight: 600;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__value 
  {
      font-size: 10px;
      color: #404040;
      font-weight: 500;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics 
  {
      margin: 3px 0;
 }

  .app__body .app__body__right 
  {
      width: 30%;
      height: 98%;
      display: none;
 }

  .app__body .app__body__right.app__body__right__zoom 
  {
      width: 0%;
      display: none;
 }

 /*app__footer*/
  .app__footer 
  {
      width: 100%;
      height: 5vh;
      background-color: #00a0e3;
      display: flex;
      align-items: center;
      padding-left: 20px;
 }

  .app__footer.app__footer__zoom 
  {
      height: 0;
      display: none;
 }

  .app__footer span 
  {
      font-size: 14px;
      color: #ffffff;
      margin: 0 20px;
      font-weight: 600;
      cursor: pointer;
      font-weight: 500;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__name 
  {
      font-size: 12px;
      color: #404040;
      font-weight: 600;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__value 
  {
      font-size: 10px;
      color: #404040;
      font-weight: 500;
 }

  .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics 
  {
      margin: 3px 0;
 }

  .app__body .app__body__right 
  {
      width: 30%;
      height: 98%;
 }

  .app__body .app__body__right.app__body__right__zoom 
  {
      width: 20%;
 }

  .app__body .app__body__right .cash__position 
  {
      width: 100%;
      height: 100%;
     /* border: 1px solid #cccccc;
      */
      background-color: var(--white);
      box-shadow: var(--shadow-code);
      border-radius: 3px;
      padding: 5px;
      overflow: hidden;
      position: relative;
 }

  .app__body .app__body__right .cash__position__zoom 
  {
      padding: 10px 5px 0;
      border: none;
 }

  .app__body .app__body__right .cash__position .menu__btn 
  {
      position: absolute;
      top: 2%;
      right: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
 }

  .app__body .app__body__right .cash__position .menu__btn img 
  {
      width: 26px;
 }

  .app__body .app__body__right .cash__position .cp__title 
  {
      padding-left: 20px;
      font-weight: 700;
      color: #404040;
 }

  .app__body .app__body__right .cash__position .cp__value 
  {
      padding-left: 20px;
      color: #404040;
      font-weight: 700;
 }

  .app__body .app__body__right .cash__position .cp__value span 
  {
      font-size: 26px;
      font-weight: 400;
      margin-right: 10px;
 }

  .app__body .app__body__right .cash__position .cp__line 
  {
      width: 90%;
      height: 0.5px;
      background-color: #cccccc;
      margin: 0 auto;
      margin: 5px auto;
 }

  .app__body .app__body__right .cash__position .cp__portfolio 
  {
      padding-left: 20px;
      font-size: 14px;
      color: #404040;
      font-weight: 600;
 }

  .app__body .app__body__right .cash__position .cp__portfolio #cp__portfolio__name 
  {
      font-size: 18px;
      color: #00a0e3;
      font-weight: 700;
 }

  .app__body .app__body__right .cash__position .cp__shares__container 
  {
      padding: 30px 0 5px;
      position: relative;
      height: 82%;
 }

  .app__body .app__body__right .cash__position .cp__shares__container .more__btn 
  {
      position: absolute;
      top: 1%;
      right: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
 }

  .app__body .app__body__right .cash__position .cp__shares__container .more__btn img 
  {
      width: 20px;
 }

  .app__body .app__body__right .cash__position .cp__shares 
  {
      height: 100%;
      overflow-y: scroll;
 }

  .app__body .app__body__right .cash__position .cp__shares::-webkit-scrollbar 
  {
      width: 5px;
 }

  .app__body .app__body__right .cash__position .cp__shares::-webkit-scrollbar-track 
  {
      display: none;
 }

  .app__body .app__body__right .cash__position .cp__shares::-webkit-scrollbar-thumb 
  {
      background: #e8e8e8;
      border-radius: 10px;
 }

  .app__body .app__body__right .cash__position .cp__shares::-webkit-scrollbar-thumb:hover 
  {
      cursor: pointer;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile 
  {
      padding: 0 15px 0 10px;
      margin: 0 0 14px 0;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__slot 
  {
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      align-items: center;
      color: #404040;
      font-weight: 600;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__slot.sp__top 
  {
      position: relative;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__slot .sp__status 
  {
      position: absolute;
      top: 50%;
      left: -3%;
      transform: translateY(-50%);
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: #00a0e3;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__top p 
  {
      color: #404040;
      font-weight: 700;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__middle p.sp__rate 
  {
      font-weight: 700;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__middle p.sp__rate.increment 
  {
      color: #00a0e3;
 }

  .app__body .app__body__right .cash__position .cp__shares .share__profile .sp__middle p.sp__rate.decrement 
  {
      color: var(--main-red);
 }

 /*app__footer*/
  .app__footer 
  {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 180px 10px;
 }

  .app__footer.app__footer__zoom 
  {
      height: 0;
      display: none;
 }

  .app__footer span 
  {
      font-size: 14px;
      color: var(--font-primary);
      margin: 0 8px;
      font-weight: 900;
      letter-spacing: -0.2px;
      cursor: pointer;
 }

  .app__footer .app__logout 
  {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 70px;
      cursor: pointer;
 }

  .app__footer .app__logout img 
  {
      width: 22px;
      transform: rotate(180deg);
      margin-right: 4px;
 }

  .app__footer .app__logout p 
  {
      font-weight: 700;
      font-size: 14px;
      color: var(--font-primary);
 }

  .bound__labels 
  {
      padding: 4px 0;
      box-shadow: 0 2px 3px rgba(0,0,0,.1);
 }

  .price__bounds__outer 
  {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height : 300px;
      box-shadow: 0 2px 3px rgba(0,0,0,.1);
 }

  .price__bounds__inner 
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
 }

  .PriceUpAndLowBounds 
  {
      position: relative;
      width: 10px;
      background-color: #ffffff;
 }

  .PriceUpAndLowBounds .pul__inner 
  {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #00a0e3;
      border-radius: 10px;
      animation: create .5s linear forwards;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

  .label__up 
  {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
 }

  .label__down 
  {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
 }


  @keyframes create
  {
      0% 
      {
          height : 0;
     }

      100% 
      {
          height : 100%;
     }

 }

  .annual__returns 
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px 10px 4px;
      border-radius:2px;
      box-shadow: 0px 2px 5px rgba(0,0,0,.1);
      font-size: 14px;
      font-weight: 700;
 }

  .annual__returns span 
  {
      color: #00a0e3;
      font-size: 20px;
 }

  .valuation__slider 
  {
      -webkit-appearance: none;
      background-color: #ecf0f1;
      width: 100%;
      outline: none;
      opacity: 1;
      height: 6px;
      border-radius: 5px;
 }

  .valuation__slider:hover 
  {
      opacity: 1;
 }

  .valuation__slider::-webkit-slider-thumb 
  {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 2px solid #00a0e3;
      cursor: pointer;
      z-index: 100;
 }

  .valuation__slider::-moz-range-thumb 
  {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 2px solid #00a0e3;
      box-shadow: -80px 0 0 80px #43e5f7;
      cursor: pointer;
 }

  input[type='range']::-webkit-slider-runnable-track 
  {
      height: 10px;
      -webkit-appearance: none;
      color: #00a0e3;
      margin-top: -1px;
  }

 /* input[type='range']::-webkit-slider-thumb 
 {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
 }

  */
  input[type="range"]::-moz-range-progress 
  {
      background-color: #43e5f7;
 }

  input[type="range"]::-moz-range-track 
  {
      background-color: #9a905d;
 }

 /* IE*/
  input[type="range"]::-ms-fill-lower 
  {
      background-color: #43e5f7;
 }

  input[type="range"]::-ms-fill-upper 
  {
      background-color: #9a905d;
 }

  @media only screen and (max-width: 800px) 
  {
      .app 
      {
          width: 100%;
          height: auto;
          overflow: scroll;
     }

     /*app header*/
      .app__header 
      {
          padding: 0 20px;
     }

      .app__header.app__header__zoom 
      {
          height: 0;
          display: none;
     }

      .app__header .brand__logo img 
      {
          width: 40px;
          height: 40px;
          margin-top: 10px;
          margin-left: 20px;
     }

      .app__header .brand__name p 
      {
          font-size: 30px;
          margin: 0 30px 0 30px;
     }

      .app__header .stock__search 
      {
          width: 400px;
          height: 75%;
     }

      .app__header .stock__search .stock__search__icon img 
      {
          width: 25px;
          height: 25px;
     }

      .app__header .stock__search input 
      {
          font-size: 16px;
     }

      .app__header .app__menu 
      {
          display: none;
          margin-left: 20px;
     }

      .app__header .app__menu span 
      {
          font-size: 14px;
          margin: 0 10px;
          font-weight: 700;
          color: #404040;
          cursor: pointer;
     }

     /*app body*/
      .app__body 
      {
          padding: 0 20px;
     }

      .app__body.app__body__zoom 
      {
          height: 100vh;
          padding: 0px;
     }

      .app__body .app__body__left 
      {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
     }

      .app__body .app__body__left.app__body__left__zoom 
      {
          width: 100%;
     }

      .app__body .app__body__left .Indicator__popup 
      {
          width: 70%;
          height: 60%;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__title__name 
      {
          padding: 0 30px 0 30px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__title__name #Indicator__close 
      {
          width: 25px;
          height: 25px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block 
      {
          padding: 10px 20px 10px 30px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block p 
      {
          font-size: 14px;
          font-weight: 600;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__options .Indicator__option__block>div button 
      {
          margin-right: 20px;
          width: 130px;
          height: 30px;
          font-size: 14px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name 
      {
          font-size: 16px;
          font-weight: 700;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__name span#Indicator__Info__close 
      {
          width: 25px;
          height: 25px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__title 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .Indicator__popup .Indicator__info .Indicator__info__data>div .Indicator__info__data__value 
      {
          font-size: 12px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options 
      {
          height: 40px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block 
      {
          padding: 0px 15px;
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block img 
      {
          width: 28px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block span#chart__type__icon 
      {
          width: 18px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__stock__name 
      {
          padding: 0 50px;
          font-size: 16px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types 
      {
          width: 200px;
          padding: 5px 0;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div 
      {
          padding: 5px 0 5px 10px;
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div span 
      {
          margin-left: 10px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block .stock__chart__types>div img 
      {
          width: 20px;
     }

      .app__body .app__body__left .chart__container .chart__container__stock__options .chart__options .chart__option__block #chart__type__icon 
      {
          height: 18px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__details 
      {
          display: flex;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__details p 
      {
          font-size: 12px;
          font-weight: 700;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__price__details p span 
      {
          font-size: 30px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.price__decimals 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.stock__performance 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__price__details p span.clock 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__price__details 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .stock__info .stock__purchase>div 
      {
          font-size: 14px;
     }

      .app__body .app__body__left .chart__container .stock__chart 
      {
          height: 93%;
          width: 100%;
     }

      .app__body .app__body__left .chart__container .chart__range .chart__range__value 
      {
          font-size: 12px;
     }

      .app__body .app__body__left .chart__container .chart__zoom 
      {
          position: absolute;
          right: 2%;
          bottom: 2%;
          z-index: 100;
     }

      .app__body .app__body__left .key__statistics 
      {
          width: 100%;
          height: 38%;
          padding: 10px 5px 5px 30px;
     }

      .app__body .app__body__left .key__statistics.key__statistics__zoom 
      {
          height: 15%;
          border-radius: 0px;
     }

      .app__body .app__body__left .key__statistics .ks__container 
      {
          width: 100%;
          height: 90%;
     }

      .app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__name 
      {
          font-size: 14px;
          color: #404040;
          font-weight: 600;
     }

      .app__body .app__body__left .key__statistics .ks__container .ks__container__half .ks__slot .statistics .ks__value 
      {
          font-size: 12px;
          color: #404040;
          font-weight: 500;
     }

      .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__name 
      {
          font-size: 12px;
          color: #404040;
          font-weight: 600;
     }

      .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics .ks__value 
      {
          font-size: 10px;
          color: #404040;
          font-weight: 500;
     }

      .app__body .app__body__left .key__statistics .ks__container .ks__container__full .ks__slot .statistics 
      {
          margin: 3px 0;
     }

      .app__body .app__body__right 
      {
          width: 30%;
          height: 98%;
          display: none;
     }

      .app__body .app__body__right.app__body__right__zoom 
      {
          width: 0%;
          display: none;
     }

     /*app__footer*/
      .app__footer 
      {
          width: 100%;
          height: 5vh;
          background-color: #00a0e3;
          display: flex;
          align-items: center;
          padding-left: 20px;
     }

      .app__footer.app__footer__zoom 
      {
          height: 0;
          display: none;
     }

      .app__footer span 
      {
          font-size: 14px;
          color: #ffffff;
          margin: 0 20px;
          font-weight: 600;
          cursor: pointer;
     }

 }

}
