* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
}

.business__news__section 
{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 96%;
  background-color: #ffffff;
  transform: translateY(103%);
  z-index: 1000;
  transition: transform 1s;
  border-radius: 3px;
}

.business__news__section.open
{
  transform: translateY(0%);
}

.business__news__section .business__news__wrapper 
{
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.business__news__section .business__news__wrapper .business__news__content 
{
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px var(--shadow-primary) , -2px -2px 2px var(--shadow-primary);
  display: none;
}

.business__news__section .business__news__wrapper .business__container 
{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.business__news__section .business__news__wrapper .business__container__loader
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business__news__section .business__news__wrapper .business__container__loader p
{
  margin-top: 15px!important;
  font-size: 14px;
  color: var(--font-primary);
}

.business__news__section .business__news__wrapper .bn__title 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 240px;
  background-color: var(--white);
  right: 0%;
  top: -0.5%;
  transform: translateY(-100%);
  padding: 5px 10px;
  box-shadow: -2px 2px 2px var(--shadow-primary), -2px -2px 2px var(--shadow-primary);
  border-radius: 40px;
  opacity: 1;
  z-index: 100000;
}

.business__news__section .business__news__wrapper .bn__title>div
{
  width: 50%;
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(1)>p:first-child
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(1)>p:last-child
{
  width: 100%;
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--font-secondary);
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(2)
{
  align-self: flex-end;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(2)>p
{
  align-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
  cursor: pointer;
}

.business__news__section .business__news__wrapper .bn__close
{
  margin-left: 4px;
  display: none;
  cursor: pointer;
}

.business__news__section .business__news__wrapper .bn__close img
{
  width: 20px;
}

.business__news__section .business__news__wrapper .bn__close.active
{
  display: block;
}

/*Buisness Wrapper Menu */
.container__header
{
    display: flex;
    justify-content: space-between;
}

.container__header .stock__info 
{
  z-index: 10;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.container__header .stock__info .stock__details 
{
  display: flex;
}

.container__header .stock__info .stock__details p 
{
  font-size: 14px;
  font-weight: 700;
  color: var(--font-primary);
}


.container__header .stock__info .stock__details .stock__type 
{
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.container__header .stock__info .stock__details .stock__type img 
{
  width: 14px;
  margin-right: 4px;
}

.container__header .stock__info .stock__details .stock__type p 
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.container__header .stock__info #stock__full__name 
{
  font-size: 10px;
  color: var(--font-secondary);
  font-weight: 600;
}

.container__header .stock__info .stock__price__purchase 
{
  display: flex;
  align-items: center;
}

.container__header .stock__info .stock__price__details 
{
  display: flex;
  align-items: center;
}

.container__header .stock__info .stock__price__details p span 
{
  font-size: 16px;
  font-weight: 700;
  margin-right: 2px;
}

.container__header .stock__info .stock__price__details span.price__decimals 
{
  color: var(--font-primary);
  font-size: 24px;
  font-weight: 900;
}

.container__header .stock__info .stock__price__details span.price__fraction 
{
  color: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  align-self: flex-start;
  margin-left: 2px;
}

.container__header .stock__info .stock__price__details span.stock__performance 
{
  font-size: 12px;
  color: #00a0e3;
}

.container__header .stock__info .stock__price__details p span.clock 
{
  margin: 0 3px;
  font-size: 12px;
}

.container__header .stock__info .stock__purchase 
{
  display: flex;
  margin-left: 30px;
}

.container__header .stock__info .stock__purchase>div 
{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a0e3;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.container__header .stock__info .stock__purchase>div img 
{
  width: 10px;
  height: 10px;
}

.container__header .stock__info .stock__purchase>div.sell__stock 
{
  background-color: var(--main-red);
}

.container__header .stock__info .stock__price__change 
{
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin-top: 0;
  color: var(--font-primary);
}

.container__header .stock__info .stock__price__change div 
{
  margin-left: 2px;
}



.business__news__section .business__news__wrapper .business__news__menu 
{
  height: 10%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__news__section .business__news__wrapper .business__news__menu .menu__row 
{
  display: flex;
  padding-top: 20px;
  align-self: center;
  list-style: none;
}

.business__news__section .business__news__wrapper .business__news__menu .menu__row li
{
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 8px;
    cursor: pointer;
}

.business__news__section .business__news__wrapper .business__news__menu .menu__row.business__menu li
{
  font-size: 13px;
}

.business__news__section .business__news__wrapper .business__news__box 
{

  width: 100%;
  height : 90%;
  padding : 20px 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.business__news__section .business__news__wrapper .business__news__box .bn__stock__overview__loader
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__news__section .business__news__wrapper .business__news__box__loader
{
  width: 100%;
  height : 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business__news__section .business__news__wrapper .business__news__box__loader p
{
  margin-top: 15px!important;
  font-size: 14px!important;
  color: var(--font-primary);
}

.price__decimals
{
  font-size: 30px;
  color: var(--font-primary);
  font-weight: 700;
}

.price__fraction
{
    color: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    align-self: flex-start;
    margin-left: 2px;
}
    

/* Technicals Section */

.bn__stock__technicals
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.bn__stock__technicals .bn__stock__views,
.bn__stock__technicals .bn__stock__target
{
  width: 48%;
  height: 100%;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view
{
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 3%);
  margin: 5px 0;
  display: flex;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view.small
{
  height: 90px;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__slider__wrapper,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view .bn__stock__slider__wrapper
{
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2px 10px;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view.small .bn__stock__slider__wrapper
{
  width: 100%;
}


.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__slider__wrapper .bn__stock__view__title,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view .bn__stock__slider__wrapper .bn__stock__view__title
{
  font-size: 11px!important;
  font-weight: 700;
  padding-top: 8px;
  color: var(--font-primary);
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__slider__wrapper .bn__stock__slider,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view .bn__stock__slider__wrapper .bn__stock__slider
{
  padding-left: 15px;
  margin: auto 0;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__text,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view .bn__stock__text
{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__text p,
.bn__stock__technicals .bn__stock__target .bn__stock__tech__view .bn__stock__text p
{
  font-size: 10px!important;
  margin: 5px 0!important;
  font-weight: 600!important;
}

.bn__stock__technicals .bn__stock__views .bn__stock__tech__view .bn__stock__text p>span
{
  color: #e51a4b;
}


.bn__stock__technicals .bn__stock__target .bn__stock__target__price
{
  /* display: flex; */
  /* justify-content: space-between; */
  box-shadow: 1px 1px 20px rgb(0 0 0 / 3%);
  margin: 5px 0;
  padding: 10px 2px;
  min-height: 300px;
  text-align: center;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__genie
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__genie img
{
  width: 70px;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__genie p
{
  font-size: 12px!important;
  font-weight: 700;
  color: var(--font-primary);
  margin-top: 10px!important;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value .bn__stock__target__empty
{
  text-align: center;
  font-size: 11px!important;
  color: var(--main-red)
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p
{
  text-align: center;
  font-size: 11px!important;
  color: var(--font-secondary);
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p>span
{
  font-size: 18px!important;
  color: var(--font-primary);
  font-weight: 700;
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p .bn__stock__target__change.negative
{
  color: var(--main-red);
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p .bn__stock__target__change.positive
{
  color: var(--main-green);
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p.bn__stock__target__predictibility
{
  font-size: 11px!important;
  font-weight: 600;
  color: var(--font-primary);
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p.bn__stock__target__predictibility.positive span{
  color: var(--main-green);
}

.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p.bn__stock__target__predictibility.negative span{
  color: var(--main-red);
}


.bn__stock__technicals .bn__stock__target .bn__stock__target__price .bn__stock__target__value p.bn__stock__target__predictibility span
{
  font-size: 11px!important;
  font-weight: 600;
}


.financials__table thead td
{
  text-align: left;
}

.financials__table tr
{
  height: 35px!important;
  /* border: 0.5px solid black!important; */
}

/* .financials__table tbody tr:nth-child(odd)
{
  background-color: #fafafa;
}

.financials__table tbody tr:nth-child(even)
{
  background-color: #ffffff;
} */

/* .financials__table tbody tr
{
  border-bottom: 0.5px solid #EAEAEA;
} */

.financials__table thead td
{
  font-weight: 600;
}

.financials__table td
{
  text-align: left;
  color: black;
  border: none!important;
}

.financials__table td.cell__bold
{
  font-weight: 700;
  color: var(--font-primary);
}

.financials__table td.cell__blue
{
  font-weight: 700;
  color: var(--main-blue);
}

.financials__table td.cell__normal
{
  font-weight: 500;
}


.financials__table__data
{
  overflow-y: scroll;
}

.credit__ratings
{
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: 80%;
  color: var(--font-primary);
}

.credit__ratings .credit__loader
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit__ratings .credit__empty
{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit__ratings .credit__empty p
{
  font-size: 14px!important;
  font-weight: 600!important;
  color: var(--main-red);
}

.credit__ratings .credit__title
{
  font-size: 13px!important;
  color: var(--font-primary);
  font-weight: 700!important;
  margin-bottom: 10px!important;
}

.bn__stock__credit .bn__credit__block
{
  margin: 0px 0 8px 0;
}

.bn__stock__credit .bn__credit__block .bn__credit__title
{
  font-size: 12px!important;
  color: var(--font-primary);
  font-weight: 700!important;
  text-decoration: none;
}

.bn__stock__credit .bn__credit__block .bn__credit__text
{
  font-size: 12px!important;
  color: var(--font-primary);
  font-weight: 600!important;
  margin-top: -2px!important;
}

.bn__stock__financial__chart
{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.financials__table__data__loader
{
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}