* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
}

.business__news__section 
{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateY(100%);
  z-index: 1000;
  transition: transform 1s;
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--shadow-primary) , -2px -2px 2px var(--shadow-primary);
}

.business__news__section .business__news__wrapper 
{
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.business__news__section .business__news__wrapper .business__news__content 
{
  width: 100%;
  height: 100%;
}

.business__news__section .business__news__wrapper .business__container 
{
  width: 100%;
  height: 100%;
}

.business__news__section .business__news__wrapper .bn__title 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 250px;
  background-color: var(--white);
  right: 0%;
  top: -1%;
  transform: translateY(-100%);
  padding: 5px 10px;
  box-shadow: -2px 2px 2px var(--shadow-primary), -2px -2px 2px var(--shadow-primary);
  border-radius: 40px;
  opacity: 1;
  z-index: 1000;
}

.business__news__section .business__news__wrapper .bn__title>div
{
  width: 50%;
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(1)>p:first-child
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(1)>p:last-child
{
  width: 100%;
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--font-secondary);
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(2)
{
  align-self: flex-end;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.business__news__section .business__news__wrapper .bn__title>div:nth-child(2)>p
{
  align-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
  cursor: pointer;
}

.business__news__section .business__news__wrapper .bn__close
{
  margin-left: 4px;
  display: none;
  cursor: pointer;
}

.business__news__section .business__news__wrapper .bn__close img
{
  width: 20px;
}

.business__news__section .business__news__wrapper .bn__close.active
{
  display: block;
}

/*Buisness Wrapper Menu */
.container__header
{
    display: flex;
    justify-content: space-between;
}

.container__header .stock__info 
{
  z-index: 10;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.container__header .stock__info .stock__details 
{
  display: flex;
}

.container__header .stock__info .stock__details p 
{
  font-size: 14px;
  font-weight: 700;
  color: var(--font-primary);
}


.container__header .stock__info .stock__details .stock__type 
{
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.container__header .stock__info .stock__details .stock__type img 
{
  width: 14px;
  margin-right: 4px;
}

.container__header .stock__info .stock__details .stock__type p 
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.container__header .stock__info #stock__full__name 
{
  font-size: 10px;
  color: var(--font-secondary);
  font-weight: 600;
}

.container__header .stock__info .stock__price__purchase 
{
  display: flex;
  align-items: center;
}

.container__header .stock__info .stock__price__details 
{
  display: flex;
  align-items: center;
}

.container__header .stock__info .stock__price__details p span 
{
  font-size: 16px;
  font-weight: 700;
  margin-right: 2px;
}

.container__header .stock__info .stock__price__details span.price__decimals 
{
  color: var(--font-primary);
  font-size: 30px;
  font-weight: 900;
}

.container__header .stock__info .stock__price__details span.price__fraction 
{
  color: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  align-self: flex-start;
  margin-left: 2px;
}

.container__header .stock__info .stock__price__details span.stock__performance 
{
  font-size: 12px;
  color: #00a0e3;
}

.container__header .stock__info .stock__price__details p span.clock 
{
  margin: 0 3px;
  font-size: 12px;
}

.container__header .stock__info .stock__price__details 
{
 /* margin: 0 3px;
  */
  font-size: 12px;
  font-weight: 700;
}

.container__header .stock__info .stock__purchase 
{
  display: flex;
  margin-left: 30px;
}

.container__header .stock__info .stock__purchase>div 
{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a0e3;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.container__header .stock__info .stock__purchase>div img 
{
  width: 10px;
  height: 10px;
}

.container__header .stock__info .stock__purchase>div.sell__stock 
{
  background-color: var(--main-red);
}

.container__header .stock__info .stock__price__change 
{
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: var(--main-red);
}

.container__header .stock__info .stock__price__change span 
{
  margin-left: 2px;
}

.business__news__section .business__news__wrapper .business__news__menu 
{
  height: 10%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business__news__section .business__news__wrapper .business__news__menu .menu__row 
{
  display: flex;
  padding-top: 20px;
  align-self: center;
  list-style: none;
}

.business__news__section .business__news__wrapper .business__news__menu .menu__row li
{
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 8px;
    cursor: pointer;
}

.business__news__section .business__news__wrapper .business__news__box 
{

  width: 100%;
  height : 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}