* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
}

  


 .cash__position 
{
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 3px 3px 10px rgba(0,0,0,.02) , -3px -3px 10px rgba(0,0,0,.02);
  border-radius: 3px;
  /* padding: 5px 10px; */
  overflow-y: hidden;
  position: relative;
}

 .cash__position__zoom 
{
  padding: 10px 5px 0;
  border: none;
}

.cash__position .cp__data
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85%;
  padding: 5px 0px;
}

.cash__position .cp__data .cp__watchlist
{
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
}

.cash__position .cp__data .cp__watchlist__loading
{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cash__position .cp__data .cp__watchlist__loading>p
{
  margin-top: 5px!important;
  font-size: 12px!important;
  color: var(--font-primary);
  font-weight: 600;
}

.cash__position .cp__dropdown
{
  position: relative;
  display: flex;
  justify-content: center;
}



.cash__position .cp__dropdown .custom-select
{
  width: 100%!important;
  height: 40px!important;
  box-shadow: 0 0 3px 0.5px rgb(0 0 0 / 4%)!important;
}

.cash__position .cp__dropdown .custom-select .custom-select-container
{
  min-width: 100%!important;
}


.cash__position .cp__dropdown .cp__dropdown__icon
{
  padding: 4px;
  margin-right: 4px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.cash__position .cp__dropdown .cp__dropdown__options
{
  position: absolute;
  width: 100%;
  background-color: var(--white);
  box-shadow: 3px 3px 10px rgba(0,0,0,.02);
  top: 100%;
  z-index: 100;
  display: none;
}

.cash__position .cp__dropdown .cp__dropdown__options p
{
  padding: 8px 0px 8px 12px;
  cursor: pointer;
  margin: 0px 0px 2px 0px!important;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-primary);
}

.cash__position .cp__dropdown .cp__dropdown__options p:hover
{
  background-color: #f2f2f2;
}


.cash__position .portfolio__cashposition
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.cash__position .cashposition__portfolio__loading
{
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cash__position .cashposition__portfolio__loading>p
{
  font-size: 12px!important;
  font-weight: 600;
  color: var(--font-primary);
}


 .cash__position .cp__title 
{
  display: flex;
  align-items: center;
}

.cash__position .cp__title  img
{
  width: 22px;
}

.cash__position .cp__title span
{
  padding-left: 5px;
  font-size: 11px;
  font-weight: 600;
  color: var(--font-primary);
}

 .cash__position .cp__value 
{
  /* padding-left: 20px; */
  margin-top: -2px;
  color: var(--font-primary);
}

 .cash__position .cp__value span 
{
  font-size: 14px;
  font-weight: 600;
}

/* .cash__position .cp__portfolio__details
{
    padding-top: 20px;
}

.cash__position .cp__portfolio__details .cp__portfolio
{
    display: flex;
}

 .cash__position .cp__portfolio>div
{
  display: flex;
  flex: 1;
}

.cash__position .cp__portfolio>div>p
{
    font-size: 10px;
    align-self: flex-end;
    padding-left: 3px;
    color: var(--font-secondary);
    font-weight: 600;
}

.cash__position .cp__portfolio>div img
{
    width: 20px;
}

 .cash__position .cp__portfolio__value #cp__portfolio__name 
{
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
}

.cash__position .cp__portfolio__details .cp__portfolio__value
{
    display: flex;
}

.cash__position .cp__portfolio__details .cp__portfolio__value>div
{
    flex: 1;
} */

.cash__position .cashposition__portfolio
{
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #19E683; */
}

.cash__position .cp__deatils__row
{
  width: 96%;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.cp__deatils__row .cp__deatils__title,
.cp__deatils__row .cp__deatils__value
{
  flex: 1;
  display: flex;
  align-items: center;
}

.cp__deatils__row .cp__deatils__title img
{
  width: 20px;
}

.cp__deatils__row .cp__deatils__title p
{
  font-size: 12px!important;
  color: var(--font-primary);
  font-weight: 600;
  margin-left: 4px!important;
}

.cp__deatils__row .cp__deatils__value
{
  justify-content: flex-end;
}

.cp__deatils__row .cp__deatils__value span
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.cash__position .cp__portfolio__details .cp__portfolio__edit,
.cash__position .cp__watchlist .cp__watchlist__edit
{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 2px;
  transition: 0.3s;
  /* box-shadow: 0 0 2px rgb(0 0 0 / 10%); */
}



.cash__position .cp__portfolio__details .cp__portfolio__edit img,
.cash__position .cp__watchlist .cp__watchlist__edit img
{
  width: 16px;
  margin-right: 4px;
}

.cash__position .cp__portfolio__details .cp__portfolio__edit span,
.cash__position .cp__watchlist .cp__watchlist__edit span
{
  font-size: 10px;
  font-weight: 700;
  color: var(--font-primary);
}

.cash__position .cp__watchlist>p
{
  font-size: 12px;
  font-weight: 700;
  color: var(--font-primary);
}

.cash__position .cp__portfolio .cp__income
{
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
    display: flex;
    align-items: flex-end;
}

.cash__position .cp__portfolio__value .cp__change
{
    font-size: 9px;
    color: var(--main-green);
    font-weight: 700;
}

.cash__position .cp__portfolio__value .cp__change span
{
    font-size: 12px;
}


 .cash__position .cp__shares__container 
{
  padding: 10px 0 5px;
  position: relative;
  width: 96%;
  overflow-y :scroll;
}

 .cash__position .cp__shares__container ::-webkit-scrollbar {
  width: 5px;
}
  
 .cash__position .cp__shares__container ::-webkit-scrollbar-track {
  background: transparent;
}
 .cash__position .cp__shares__container ::-webkit-scrollbar-thumb {
  background: #dbd9d9;
  border-radius: 20px;
}
 .cash__position .cp__shares__container ::-webkit-scrollbar-thumb:hover {
  background: #dbd9d9;
}

 .cash__position .share__profile__wrapper 
{
    margin-bottom: 0px;
    transition: 0.3s;
    padding: 8px 0px;
}

.cash__position .share__profile
{
  display: flex;
}

.cash__position .share__profile__wrapper:hover
{
  background-color: #fbfbfb;
}

.cash__position .share__profile .sp__profile
{
    flex: 5;
    display: flex;
    padding-left: 5px;
    /* align-items: center; */
}

.cash__position .cp__portfolio__container .sp__profile
{
  flex: 3;
}

.cash__position .cp__portfolio__container .sp__price
{
  flex: 2;
}


.cash__position .share__profile .sp__status
{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-right: 2px;
    margin-top: 5px;
    background-color: var(--main-blue);
}

.cash__position .share__profile .sp__name
{
    font-size: 12px;
    font-weight: 900;
    color: var(--font-primary);
}

.cash__position .share__profile .sp__fullname
{
    font-size: 10px;
    width: 120px;
    font-weight: 600;
    color: var(--font-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
}

.cash__position .sp__quantity
{
    font-size: 12px;
    font-weight: 700;
    display: flex;
    color: var(--font-primary);
}

.cash__position .sp__quantity .sp__quantity__value
{
  flex: 3;
  padding-left: 12px;
}

.cash__position .sp__quantity .sp__average
{
  flex: 2;
}

.cash__position .sp__quantity img
{
    width: 18px;
    transform: rotateY(180deg);
}

.cash__position .sp__price
{
    flex: 3;
    /* display: flex; */
    /* align-items: center; */
}

.cash__position .sp__price .sp__income
{
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.cash__position .sp__price .cp__change
{
    font-size: 9px;
    color: var(--main-green);
    font-weight: 700;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.cash__position .sp__price .cp__change span
{
    font-size: 11px;
}

.cash__position .sp__remove
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cash__position .sp__remove span
{
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 3px;
}

.cash__position .sp__remove span:hover{
  background-color: #bce8ff;
}
.cash__position .share__profile .sp__quantity
{
    font-size: 14px;
    font-weight: 700;
    color: var(--font-primary);
    flex: 1;
    display: flex;
    align-items: center;
}

.cash__position .share__profile .sp__quantity .sp__quantity__value{
    flex: 1;
    display: flex;
    align-items: center;
}

.cash__position .share__profile .sp__quantity .sp__quantity__value img
{
    width: 18px;
    transform: rotateY(180deg);
}

.cash__position .share__profile .sp__quantity .sp__average
{
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
    width: 50%;
}

.dl-list{
  max-height: 410px!important;
}

.watchlist__popup__overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.6);
}


.watchlist__popup{
  position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 400px;
    height: 450px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(140 140 140 / 25%);
    color: #666;
    opacity: 1;
}

.watchlist__popup .watclist__popup__header
{
  height: 10%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}

.watchlist__popup .watclist__popup__header>p
{
  margin: 0!important;
  font-weight: 700;
  color: var(--font-primary);
}

.watchlist__popup .watclist__popup__header>span
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.watchlist__popup .watclist__popup__header>span:hover
{
  background-color: #bce8ff;
}

.watchlist__popup .watclist__popup__header>span>img
{
  width: 12px;
}

.watchlist__popup .watclist__popup__body
{
  width: 100%;
  height: 90%;
}

.watclist__popup__body .stock__search
{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #e7e7e7;
}

.watclist__popup__body .stock__search>img
{
  width: 18px;
}

.watclist__popup__body .stock__search>input
{
  width: 90%;
  margin-left: 15px;
  font-weight: 600;
  color: var(--font-primary);
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.watclist__popup__body .stock__suggestions
{
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.watclist__popup__body .stock__suggestions .stock__suggestions__loader
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock__suggestions .stock__suggestions__loader .stock__suggestions__empty
{
  color: var(--main-blue);
  font-weight: 600;
  font-size: 14px;
}


.watclist__popup__body .stock__suggestions>p
{
  width: 100%;
  padding: 5px 0!important;
  margin: 2px 0!important;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
}

.watclist__popup__body .stock__suggestions>p:hover
{
  background-color: #f7f7f7;
}

.watclist__popup__body .stock__suggestions>p .search__highlight
{
  background-color: #bce8ff;
}

.watclist__popup__body .stock__suggestions>p>span:nth-child(1)
{
  flex: 3;
  font-size: 12px;
  font-weight: 700;
}
.watclist__popup__body .stock__suggestions>p>span:nth-child(2)
{
  flex: 7;
  font-size: 10px;
  font-weight: 600;
}
.watclist__popup__body .stock__suggestions>p>span:nth-child(3)
{
  flex: 1;
  font-size: 12px;
  font-weight: 700;
}

.edit__portfolio__name{
  background: #fff;
  margin: 10px 0 0 0;
}

.edit__portfolio__name input{
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #eeecec , -2px -2px 2px #ebe9e9;
  margin-right: 4px;
  padding-left: 1ch;
  font-size: 12px;
  font-weight: 600;
}

.edit__portfolio__name button{
  font-size: 11px;
  font-weight: 900;
  margin: 4px;
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
}