* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
  --shadow-code : 1px 1px 2px rgba(0,0,0,.02) , -1px -1px 2px rgba(0,0,0,.02);
}

.compare__setting__popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000;
    min-width: 400px;
    height: 500px;
    background-color: var(--white);
    box-shadow: 1px 1px 5px 1px #cccccc;
    border-radius: 3px;
    padding: 10px 15px;
    /* display: none; */
}

.compare__setting__popup .compare__setting__header
{
    padding-bottom: 5px;
    border-bottom: 0.5px solid #eeeeee;
    position: relative;
    height: 10%;
}

.compare__setting__header .compare__code
{
    font-size: 16px!important;
    font-weight: 700!important;
}

.compare__setting__header .compare__company
{
    font-size: 10px!important;
    font-weight: 600!important;
}

.compare__setting__header .compare__setting__close
{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
}

.compare__setting__header .compare__setting__close:hover
{
    background-color: #f5f5f5;
}

.compare__setting__header .compare__setting__close img
{
    width: 14px;
    height: 14px;
}

.compare__setting__popup .compare__setting__container
{
    height: 80%;
    padding: 10px 10px;
}

.compare__setting__container .compare__setting__block
{
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 5px 0;
}

.compare__setting__container .compare__setting__block .compare__setting__title,
.compare__setting__container .compare__setting__block .compare__setting__item
{
    width: 50%;
}

.compare__setting__container .compare__setting__block .compare__setting__title
{
    font-size: 14px!important;
    font-weight: 600;
    color: var(--font-primary);
}

.compare__setting__container .compare__setting__block .compare__setting__item
{
    display: flex;
    justify-content: left;
}

.compare__setting__container .compare__setting__block select
{
    width: 180px;
    height: 35px;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.10);
    border-radius: 3px;
    padding: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
}

.compare__setting__container .compare__setting__block option
{
    cursor: pointer;
}

.compare__setting__container .compare__setting__checkbox__wrapper
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.compare__setting__container .compare__setting__checkbox__wrapper .compare__setting__title
{
    font-size: 14px!important;
    font-weight: 600;
    color: var(--font-primary);
}

.compare__setting__container .compare__setting__checkbox__wrapper .compare__setting__checkbox
{
    margin-right: 10px;
}

.compare__setting__popup .compare__setting__footer
{
    width: 100%;
    height: 10%;
    /* background-color: #404040; */
    display: flex;
    justify-content: flex-end;
}

.compare__setting__popup .compare__setting__footer button
{
    margin-left: 15px;
    padding: 0px 20px;
    height: 36px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0,0,0,.2) , 0 0 2px rgba(255,255,255,0.8);
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.6s ease;
}

.compare__setting__popup .compare__setting__footer button:hover{
    background-color: #00A0E3;
    color: #ffffff;
}