*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-select
{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.10);
    cursor: pointer;
    position: relative;
}

.custom-select .custom-select-header
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.custom-select .custom-select-header .custom-select-title
{
    font-size: 13px!important;
    font-weight: 600!important;
}

.custom-select .custom-select-header .custom-width-select-title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.custom-select .custom-select-header .custom-width-select-title>p
{
    width: 60%;
    background-color: #404040;
    border-radius: 10px;
}

.custom-select .custom-select-container
{
    padding: 0px 3px;
    min-width: 110%;
    position: absolute;
    top: 108%;
    left: 0%;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.10);
    background-color: white;
    z-index: 1000;
}

.custom-select .custom-select-container .custom-select-option
{
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 3px 0;
    border-radius: 3px;
}

.custom-select .custom-select-container .custom-width-select-option
{
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 3px 0;
    border-radius: 3px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select .custom-select-container .custom-width-select-option>p
{
    background-color: #404040;
    border-radius: 10px;

}

.custom-select .custom-select-container .custom-select-option.option-selected,
.custom-select .custom-select-container .custom-width-select-option.option-selected
{
    background-color: #404040ef;
    color: #ffffff;
}

.custom-select .custom-select-container .custom-width-select-option.option-selected>p
{
    background-color: #ffffff;
}

.custom-select .custom-select-container .custom-select-option.option-selected:hover,
.custom-select .custom-select-container .custom-width-select-option.option-selected:hover
{
    background-color: #404040;
    color: #ffffff;
}

.custom-select .custom-select-container .custom-width-select-option.option-selected:hover>p
{
    background-color: #ffffff;
}

.custom-select .custom-select-container .custom-select-option:hover
{
    background-color: #f7f7f7;
    color: #00a0e3;
}

.custom-select .custom-select-container .custom-width-select-option:hover
{
    background-color: #f7f7f7;
}


