*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-color-picker
{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.10);
    cursor: pointer;
    position: relative;
}

.custom-color-picker .custom-color-picker-header
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.custom-color-picker-header .custom-picked-color
{
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(255,255,255,0.20);
    transition: background-color .35s ease;
}

.custom-color-picker-header .custom-color-choose
{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
}

.custom-color-picker .custom-color-picker-container
{
    position: absolute;
    width: 150%;
    top: 108%;
    padding: 10px 5px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 0.5px rgba(0,0,0,0.10);
    z-index: 1000;
}

.custom-color-picker-container .custom-picker-box
{
    width: 100%;
}

.custom-color-picker-container .custom-picker-box>p
{
    font-size: 12px!important;
    font-weight: 600;
}

.custom-color-picker-container .custom-picker-box .custom-color-wrapper
{
    width: 100%;
    margin-top: 10px;
}

.custom-color-picker-container .custom-picker-box .custom-color-wrapper .custom-color-row
{
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.custom-color-picker-container .custom-picker-box .custom-color-wrapper p
{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 1px 0.5px rgba(0,0,0,0.10);
}

.custom-color-picker-container .custom-picker-box .custom-color-wrapper p:hover
{
    box-shadow: 0 0 2px rgba(0,0,0,0.30);
}