
/* hover tooltip */
.react-stockcharts-tooltip-content
{
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.1));
}

.react-stockcharts-indicator-options
{
  pointer-events: all;
  cursor: pointer;
}

.react-stockchart-indicator-box
{
  fill: #f0f0f0;
  /* -webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .2)); */
  /* filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .2)); */
  cursor: pointer;

}

.react-stockcharts-tooltip,.react-stockcharts-indicator-tooltip
{
  pointer-events: all;
  cursor: pointer;
}


/* recharts components */
.recharts-legend-item 
{ 
  font-size: 10px; 
}

.custom-tooltip
{
  background-color: #fffffff3;
  padding : 5px 10px;
  box-shadow: 0px 0px 5px #dedede;
  border-radius: 3px;
}

.custom-tooltip .custom-label
{
  font-size: 10px!important;
  margin-bottom: 5px!important;
}

/*interactive setting popup */
.react-stockcharts-indicator-setting
{
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.1));
  pointer-events: all;
  cursor: pointer;
}



/*rsuite components*/
.confidence__slider .rs-slider-mark
{
  top: -13px!important;
}

.confidence__slider .rs-slider-last-mark
{
  top: auto!important;
  bottom: -8px!important;
}


