* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Quicksand', sans-serif!important; */
}

.app__hero__page
{
    width: 100%;
}

.app__hero__page a
{
    color: #404040;
    text-decoration: none!important;
}

.app__hero__header
{
    width: 100%;
    height: 6vh;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__hero__header .hero__header__menu
{
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__header__menu .hero__header__logo
{
    display: flex;
    align-items: center;
}


.hero__header__menu .hero__header__logo>a:first-child
{
    margin-top: 4px;
}

.hero__header__menu .hero__header__logo>span
{
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.hero__header__menu .hero__header__nav
{
    margin-top: 3px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}



.hero__header__menu .hero__header__nav>span
{
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    cursor: pointer;
    transition: 0.3s;
}

.hero__header__menu .hero__header__nav>span:hover
{
    color: #00a0e3!important;
}

.app__hero__header .hero__header__buttons
{
    display: flex;
    align-items: center;
}

.app__hero__header .hero__header__buttons>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    background-color: #00a0e3;
    border-radius: 3px;
    color: #ffffff;
    margin: 0 8px;
    font-size: 12px;
    font-weight: 700;
}

.app__hero__header .hero__header__buttons>div a
{
    color: #fff!important;
}

.app__hero__body
{
    width: 100%;
    padding: 0 12%;
}

.app__hero__body .hero__body__intro
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.hero__body__intro .intro__content
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__body__intro .intro__content>h2
{
    font-size: 52px;
    line-height: 60px;
    color: #404040;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero__body__intro .intro__content>p
{
    font-size: 16px!important;
    color: #404040;
}

.hero__body__intro .intro__content .intro__button
{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background-color: #00a0e3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.hero__body__intro .intro__content .intro__button a
{
    color: #fff;
}

.hero__body__intro .intro__img
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__body__intro .intro__img>img
{
    width: 100%;
}

.hero__body__about,
.hero__body__stocks,
.hero__body__trading,
.hero__body__reach,
.hero__body__help,
.hero__body__FAQ
{
    padding: 40px 0;
}

.hero__body__about>h1,
.hero__body__stocks>h1,
.hero__body__trading>h1,
.hero__body__reach>h1,
.hero__body__help>h1,
.hero__body__FAQ>h1
{
    font-size: 30px!important;
    color: #404040!important;
}