* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
  --shadow-code : 1px 1px 2px rgba(0,0,0,.02) , -1px -1px 2px rgba(0,0,0,.02);
}

.index__select__popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000000;
    width: 450px;
    background-color: #FFFFFF;
    height: 500px;
    border-radius: 3px;
    box-shadow: 0 0px 3px rgba(0,0,0,.25);
}

.index__select__popup .index__select__header
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-bottom: 0.5px solid #eeeeee;
    position: relative;
}

.index__select__popup .index__select__header>p
{
    font-size: 14px;
    font-weight: 700;
    color: var(--font-primary);
}

.index__select__popup .index__select__header .index__list__total
{
    font-size: 10px;
    font-weight: 600;
    color: #c0c0c0; 
    margin-top: 0px;
    display: inline-block;
}

.index__select__header .index__select__close
{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%,-50%);
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
}

.index__select__header .index__select__close:hover
{
    background-color: #f5f5f5;
}

.index__select__header .index__select__close img
{
    width: 14px;
    height: 14px;
}

.index__select__popup .index__select__container
{
    width: 100%;
    height: 80%;
    padding: 0 15px 15px;
    overflow-y: scroll;
}

.index__select__container .index__select__item
{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #ebebeb;
}

.index__select__item .index__check
{
    width: 10%;
    /* background-color: #e0e0e0; */
    height: 100%;
    display: flex;
    align-items: center;
}

.index__select__item .index__name
{
    width: 60%;
    /* background-color: #bebebe; */
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
}

.index__select__item .index__options
{
    width: 30%;
    /* background-color: #e7e7e7; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}

.index__select__item .index__options .index__option__wrapper
{
    margin: 0 5px;
    padding: 2px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;   
}

.index__select__item .index__options .index__option__wrapper:hover{
    background-color: #f0f0f0;
}

.index__select__item .index__options .index__option__wrapper img
{
    width: 18px;
    height: 18px;
}


.index__select__popup .index__select__footer
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 5px;
}

.index__select__popup .index__select__footer .popup__status
{
    font-size: 12px!important;
    font-weight: 600;
    padding-left: 5px;
    opacity: 0;
}

.index__select__popup .index__select__footer .popup__status.active
{
    opacity: 1;
    animation: animate 3s linear forwards;
}

@keyframes animate
{
    0%,90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.index__select__popup .index__select__footer .popup__status.success
{
    color: var(--main-green);
}

.index__select__popup .index__select__footer .popup__status.error
{
    color: var(--main-red);
}

.index__select__popup .index__select__footer .popup__status.warning
{
    color: var(--main-blue);
}

.index__select__popup .index__select__footer button
{
    margin-left: 15px;
    padding: 0px 25px;
    height: 32px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: var(--font-primary);
    box-shadow: 0 0 2px rgba(0,0,0,.15) , 0 0 2px rgba(255,255,255,0.8);
    font-size: 13px;
    font-weight: 700;
    transition: background-color 0.6s ease;
}

.index__select__popup .index__select__footer button:hover{
    background-color: #00A0E3;
    color: #ffffff;
}

.index__select__popup .index__select__footer button.disabled
{
    background-color: #EAEAEA;
    box-shadow: none;
    cursor: not-allowed;
    color: #b0b0b0;
}

.index__select__popup .index__select__footer button.disabled:hover
{
    color: #b0b0b0;
}