.interactive__setting__popup
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%) , scale(0.7);
    box-shadow: 0 0 5px rgba(0,0,0,0.20);
    border-radius: 5px;
    /* width: 400px; */
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    opacity: 1;
    animation: animate 0.10s ease-in;
}

@keyframes animate {
    0%
    {
        opacity: 0;
        transform: translate(-50%,-50%) , scale(0);
    }
    100%
    {
        opacity: 1;
        transform: translate(-50%,-50%) , scale(1);

    }
}

.interactive_setting__block
{
    width: 40px;
    height: 100%;
    border-right: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactive__setting__popup .interactive_setting__block:hover,
.interactive__setting__popup .custom-color-picker:hover,
.interactive__setting__popup .custom-select:hover
{
    background-color: #f9f9f9;
}


.interactive__setting__popup .custom-color-picker,
.interactive__setting__popup .custom-select
{
    width: 100%;
    height: 100%;
    box-shadow: none;
    
}


.interactive__setting__popup .custom-color-picker .custom-color-picker-header,
.interactive__setting__popup .custom-select .custom-select-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.interactive__setting__popup .custom-color-picker .custom-picked-color
{
    width: 70%;
    height: 4px;
    margin-top: 6px;
}

.interactive__setting__popup .custom-select .custom-width-select-title
{
    display: flex;
    justify-content: center!important;
    align-items: center;
}

.interactive__setting__popup .custom-select .custom-width-select-title>p
{
    width: 70%;
    background-color: #404040;
}

.interactive__setting__popup .custom-select .custom-width-select-option .custom-width-select-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.interactive__setting__popup .custom-select .custom-width-select-option .custom-width-select-text
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-left: 5px;
}