* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Quicksand', sans-serif;
  */
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
  --shadow-code : 1px 1px 2px rgba(0,0,0,.02) , -1px -1px 2px rgba(0,0,0,.02);
}

.stock__order__popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1000000;
    width: 500px;
    background-color: #FFFFFF;
    height: 550px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(140,140,140,0.25);
    /* display: none; */
}


.stock__order__popup .stock__order__header
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.stock__order__header .stock__order__action__wrapper
{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    /* background-color: #404040; */
}

.stock__order__action__wrapper .stock__order__action
{
    text-align: center;
    background-color: #BBFFDE;
    padding: 4px 15px;
    border-radius: 3px;
}

.stock__order__action__wrapper .stock__order__action.buy
{
    background-color: #BBFFDE;
}

.stock__order__action__wrapper .stock__order__action.buy>p
{
    color: var(--main-green)!important;
}

.stock__order__action__wrapper .stock__order__action.sell
{
    background-color: #FFBACB;
}

.stock__order__action__wrapper .stock__order__action.sell>p
{
    color: var(--main-red)!important;
}

.stock__order__action__wrapper .stock__order__action>p
{
    font-size: 12px;
    font-weight: 600!important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.stock__order__header .stock__order__name__wrapper
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    /* background-color: #666666; */
}

.stock__order__header .stock__order__name__wrapper>p
{
    font-size: 14px!important;
    font-weight: 600;
    color: var(--font-primary);
}

.stock__order__header .stock__order__options__wrapper
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.6s;
}

.stock__order__header .stock__order__options__wrapper.active
{
    width: 85%;
}

.stock__order__header .stock__order__search__wrapper,
.stock__order__header .stock__order__close__wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: 0.6s;
}

.stock__order__search__wrapper .stock__order__search,
.stock__order__close__wrapper .stock__order__close
{
    padding: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f8ff;
    cursor: pointer;
}

.stock__order__search__wrapper .stock__order__search:hover,
.stock__order__close__wrapper .stock__order__close:hover
{
    background-color: #b7e8ff;
}

.stock__order__search__wrapper .stock__order__search>img,
.stock__order__close__wrapper .stock__order__close>img
{
    width: 14px;
    height: 14px;
    /* background-color: #E51A4B; */
}


.stock__order__header .stock__order__search__wrapper.active
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stock__order__search__wrapper.active .stock__order__search
{
    width: 100%;
    background-color: #eefaff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__icon img
{
    width: 14px;
    height: 14px;
}


.stock__order__search__wrapper .stock__order__search .stock__order__search__section
{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #19E683; */
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__section input
{
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--font-primary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    /* background-color: #19E683; */
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__section input::placeholder
{
    color: var(--font-secondary);
    font-size: 10px;
    font-weight: 500;
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__section>div
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__section>div img
{
    width: 10px;
    height: 10px;
}

.stock__order__search__wrapper .stock__order__search .stock__order__search__section>div:hover
{
    background-color: var(--white);
}

.stock__order__search__wrapper .stock__order__search__container
{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-1%);
    background-color: var(--white);
    width: 100%;
    max-height: 200px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(140,140,140,.2);
    overflow-y: scroll;
    z-index: 100;
}

.stock__order__search__wrapper .stock__order__search__container>p
{
    width: 100%;
    padding: 6px 6px;
    font-size: 11px!important;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.stock__order__search__wrapper .stock__order__search__container>p:hover
{
    background-color: #f8f8f8;
}

.stock__order__search__wrapper .stock__order__search__container>p>span:nth-child(1)
{
    flex: 4;
    font-weight: 700!important;
}

.stock__order__search__wrapper .stock__order__search__container>p>span:nth-child(2)
{
    flex: 10;
    font-size: 10px;
    font-weight: 600!important;
}

.stock__order__search__wrapper .stock__order__search__container>p>span:nth-child(3)
{
    flex: 2;
    font-weight: 700!important;
}

.stock__order__search__wrapper .stock__order__search__container>p .search__highlight
{
    background-color: #b7e8ff;
}

.stock__order__search__wrapper .stock__order__search__container .search__loader
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock__order__search__wrapper .stock__order__search__container .search__loader>p
{
    font-size: 12px!important;
    font-weight: 600;
    margin-top: 5px;
}

.stock__order__popup .stock__order__container
{
    width: 100%;
    height: 80%;
}

.stock__order__popup .stock__order__container.loader
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock__order__container .stock__order__buysell__section
{
    width: 100%;
    height: 15%;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    background-color: var(--white);
    position: relative;
}

.stock__order__buysell__section .stock__order__buy__wrapper,
.stock__order__buysell__section .stock__order__sell__wrapper
{
    width: 50%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: var(--font-primary)!important;
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 1px solid #e9e9e9;
}

.stock__order__buysell__section .stock__order__buy__wrapper:hover,
.stock__order__buysell__section .stock__order__sell__wrapper:hover
{
    background-color: #fafafa;
}

.stock__order__buysell__section .stock__order__buy__wrapper
{
    align-items: flex-start;
    border-right: 1px solid #e9e9e9;
}

.stock__order__buysell__section .stock__order__buy__wrapper.active
{
    border-bottom: 4px solid var(--main-green);
}

.stock__order__buysell__section .stock__order__sell__wrapper
{
    align-items: flex-end;
    border-left: 1px solid #e9e9e9;
}

.stock__order__buysell__section .stock__order__sell__wrapper.active
{
    border-bottom: 4px solid var(--main-red);
}

.stock__order__buysell__section .stock__order__difference__wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #e9f8ff;
    box-shadow: 0 0 2px #e9f8ff;
    padding: 5px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.stock__order__container .stock__order__config__wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.stock__order__config__wrapper .stock__order__config
{
    /* text-align: center; */
    margin-bottom: 12px;
}

.stock__order__config .stock__order__config__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock__order__config .stock__order__config__header>p
{
    font-size: 12px;
    font-weight: 700;
    color: var(--font-primary);
    margin-bottom: 4px!important;
}

.stock__order__config .stock__order__config__header>span
{
    font-size: 10px;
    color: #bdbdbd;
    font-weight: 600;
}

.stock__order__config .stock__order__config__label
{
    border: 1px solid #e9e9e9!important;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.stock__order__config .stock__order__config__label>p
{
    font-size: 14px;
    font-weight: 700!important;
}

.stock__order__config .custom-select,
.stock__order__config .custom-numberbox
{
    box-shadow: none!important;
    border: 1px solid #e9e9e9!important;
}

.stock__order__config .custom-select .custom-select-container
{
    min-width: 100%!important;
    width: 100%!important;
    max-height: 200px;
    overflow-y: scroll;
}

.stock__order__config .custom-select .custom-select-header .custom-select-title
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stock__order__config .custom-select .custom-select-header .custom-select-title input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.stock__order__config .custom-select .custom-select-header .custom-select-options
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock__order__config .custom-select .custom-select-header .custom-select-title,
.stock__order__config .custom-numberbox-container .numberbox-input input
{
    font-weight: 700!important;
    color: var(--font-primary)!important;
}

.stock__order__popup .stock__order__footer
{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.stock__order__footer .stock__order__buysell__button
{
    padding: 5px 25px;
    border-radius: 3px;
    cursor: pointer;
}

.stock__order__footer .stock__order__buysell__button.buy
{
    background-color: var(--main-green);
}

.stock__order__footer .stock__order__buysell__button.sell
{
    background-color: var(--main-red);
}

.stock__order__footer .stock__order__buysell__button>span
{
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
}