* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
}

  
::-webkit-scrollbar {
    display: none;
  }


.app__body .app__body__left .app__StocksToWatch 
{
  position: relative;
  height: 12%;
  width: 100%;
  border-radius: 3;
  background-color: var(--white);
  box-shadow: 3px 3px 10px rgba(0,0,0,.02) , -3px -3px 10px rgba(0,0,0,.02);
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__header
{
    padding: 2px 20px;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__header .app__StocksToWatch__title
{
    font-size: 14px;
    font-weight: 900;
    color: var(--font-primary);
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__header .app__StocksToWatch__icon
{
  display: flex;
  align-items: center;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__header .app__StocksToWatch__icon span
{
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #666666; */
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__header .app__StocksToWatch__icon span img
{
  width: 60%;
}


.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container
{
    padding-top: 2px;
    height: 70%;
    /* min-width: 100%; */
    padding: 0 3px;
    display: flex; 
    /* justify-content: space-around; */
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth; 
    /* background-color: #19E683; */
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .app__StocksToWatch__stock
{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    border-radius: 20px;
    /* width: 30%; */
    align-items: center;
    margin: 0 6px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.05) , -1px -1px 2px rgba(0,0,0,0.05);
    cursor: pointer;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__details
{
    flex: 2;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__details>div
{
    display: flex;
    align-items: center;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__status
{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-right: 2px;
    background-color: var(--main-blue);
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__name
{
    font-size: 11px;
    font-weight: 700;
    color: var(--font-primary);
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__fullname
{
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--font-primary);
    letter-spacing: -0.2px;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__favourite
{
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    margin-left: 10px;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__favourite .StocksToWatch__change__per
{
    font-size: 12px;
    font-weight: 600;
}

.app__body .app__body__left .app__StocksToWatch .app__StocksToWatch__container .StocksToWatch__stock__favourite .StocksToWatch__stock__star
{
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}