* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root 
{
  --main-blue : #00A0E3;
  --main-green : #19E683;
  --main-red : #E51A4B;
  --light-grey : #EAEAEA;
  --medium-grey : #BBBBBB;
  --light-white : #FEFEFE;
  --white : #FFFFFF;
  --font-primary : #404040;
  --font-secondary : #666666;
  --shadow-primary : #F2F2F2;
}

.stock__valuation
{
    display: flex;
    justify-content: space-between;
}

.stock__valuation.loader
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock__valuation .stock__valuation__left
{
    width: 34%;

    >div
    {
      box-shadow: 1px 1px 20px rgba(0,0,0,0.03);
      padding: 5px 10px;
    }

    .card__title
    {
        font-size: 12px!important;
        color: var(--font-primary);
        font-weight: 900;
    }

    .card__condition
    {
        margin-top: 10px;
        font-size: 9px;
        padding-right: 60px;
        color: var(--font-primary);
    }

}



.valuation__slider 
{
  -webkit-appearance: none;
  background-color: #ecf0f1;
  width: 100%;
  outline: none;
  opacity: 1;
  height: 2px;
  border-radius: 5px;
}

.valuation__slider:hover 
{
  opacity: 1;
}

.valuation__slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-blue);
  cursor: pointer;
  z-index: 100;
  margin-top: 1px;
  transition: .2s;
}

.valuation__slider::-moz-range-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-blue);
  cursor: pointer;
  z-index: 100;
  cursor: pointer;
}

.valuation__slider::-webkit-slider-thumb:hover
{
    transform: scale(1.5);
}

input[type='range']::-webkit-slider-runnable-track 
{
  height: 10px;
  -webkit-appearance: none;
  color: #00a0e3;
}

.stock__valuation .stock__valuation__left .slider__wrapper
{
    .slider__value
    {
        font-size: 12px;
        outline: none;
        border: none;
        font-weight: 600;
        color: var(--font-primary);
        display: inline;
        margin-left: 5px;
        width: 40px;
    }
}

.stock__annual__returns
{

    margin-top: 10px;
    .card__title
    {
        font-size: 14px!important;
        color: var(--font-primary);
        font-weight: 900;
    }
    .annual__returns 
    {
        display: flex;
        align-items: center;
        border-radius:2px;
        font-size: 12px;
        color: var(--font-primary);
        font-weight: 600;

        span
        {
            display: inline-block;
            margin-left: 6px;
            font-weight: 700;
        }

    }

    .annual__returns.positive
    {
        span
        {
            color: var(--main-green);
        }
    }
    .annual__returns.negative
    {
        span
        {
            color: var(--main-red);
        }
    }
}

.stock__valuation .stock__valuation__right
{
    width: 64%;

    >div
    {
        box-shadow: 1px 1px 20px rgba(0,0,0,0.03);
    }


}

.stock__valuation .stock__valuation__right .stock__price__bounds
{
    display: flex;
    height: 320px;

    >div:first-child
    {
        width: 68%;
        padding: 5px 10px;
    }
    >div:last-child
    {
        width: 32%;
        padding: 5px 10px;
    }

    .card__title
    {
        font-size: 12px!important;
        color: var(--font-primary);
        font-weight: 900;
    }

}

.stock__valuation .stock__valuation__right .stock__price__bounds .price__bound__chart
{
    width: 100%;
    height: 100%
}

.stock__valuation .stock__valuation__right .stock__confidence
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .confidence__slider
    {
        margin-top: 30px;
    }
}

.stock__valuation .stock__valuation__right .stock__methodology
{

    margin-top: 10px;
    padding: 5px 10px;


    .card__title
    {
        font-size: 12px!important;
        color: var(--font-primary);
        font-weight: 900;
    }
    >div
    {
        font-size: 11px;
        padding-right: 10px;
        font-weight: 600;
    }

}

.valuation__empty
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .empty__text
    {
        margin-top: 60px;
        width: 80%;
        text-align: center;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        border-radius: 3px;

        p{
            font-size: 14px!important;
            font-weight: 700;
            color: var(--font-primary);
            margin-bottom: 10px!important;
        }
    }

}

/*rsuite update*/

.stock__valuation .rs-slider-bar
{
    background-color: var(--medium-grey)!important;
}

.stock__valuation .rs-slider-vertical .rs-slider-bar
{
    width: 1px!important;
}

.stock__valuation .rs-slider-vertical .rs-slider-progress-bar
{
    width: 1px!important;
}

.stock__valuation .rs-slider-vertical .rs-slider-graduator > ul > li::before
{
    margin-left: -3px!important;
}

.stock__valuation .rs-slider-vertical .rs-slider-graduator > ul > li:last-child::after, .rs-slider-vertical .rs-slider-graduator > ul > li::before
{
    margin-left: -3px!important;
}

.stock__valuation .rs-slider-vertical .rs-slider-handle::before {
    left: 0px!important;
}

.stock__valuation .rs-slider-graduator > ul > li.rs-slider-pass::before {
    border: none!important;
    background-color: var(--main-blue)!important;
}

.stock__valuation .rs-slider-handle::before {
    border: none!important;
    background-color: var(--main-blue)!important;
    width: 8px!important;
    height: 8px!important;
    margin-left: -3px!important;
}

.stock__valuation .rs-slider-graduator > ul > li:last-child::after, .rs-slider-graduator > ul > li::before 
{
    background-color: var(--medium-grey)!important;
    border: none!important;
}